$time: .3s;

.button_cont {
  display: grid;
  justify-content: end;
  position: relative;
  z-index: 2;

}
.button_menu {
  border: none;
  background: transparent;
  cursor: pointer;
  div {
    padding: 2px;
    background: $green;
    margin: 5px;
    width: 30px;
    border-radius: 4px;
    transform: rotate(0);
    transition: ease $time all;
    position: relative;
    top: 0px;
  }
  &:hover {
    div {
      transition: ease $time all;
      background: $red;
    }
  }
}

.button_activate {
  .b1{
    transform: rotate(-45deg);
    top: 8px;
  }
  .b2{
    transform: rotate(45deg);
  }

  .b3 {
    transform: rotate(45deg);
    transform: difumination(0px);
    top: -8px;
    
  }
  
}

.btn {
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  background: $gray;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  
  box-shadow: 2px 2px 5px rgba($gray, .5);

  &:hover {
    background: rgba($gray, .9);
  }
}

.b-red {
  background: $red;
  color: $white;
  box-shadow: 2px 2px 10px rgba($red, .7);
  &:hover {
    background: rgba($red, .9)
  }
}